/* stylelint-disable no-missing-end-of-source-newline */
html {
  background: #fff;
}

body {
  background: #fff;
  display: flex;
  flex-flow: row wrap;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 74px;
  background-color: #fff;
  padding: top;
}

nav {
  display: flex;
  text-align: right;
  font-size: 40px;
  justify-content: end;
  padding-right: 20px;
}

main {
  width: 100%;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  height: 300px;
}

.intro {
  background: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
}

.paragraph {
  background: none;
  font-size: 14px;
  font-family: Poppins, sans-serif;
  color: black;
}

.cButton {
  color: rgba(26, 34, 54, 1);
  text-align: center;
  align-items: center;
  width: 320px;
  height: 45px;
  top: 390px;
  padding-top: 20px;
  margin: 0 auto;
  background-color: rgba(26, 34, 54, 1);
}

.Button {
  font-size: 40px;
}

.image {
  position: absolute;
  width: 100%;
  height: 160px;
  left: 1px;
  top: 472px;
  background: #fff;
  margin: 45px auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#toolbar {
  display: flex;
  justify-content: flex-end;
  margin: 16px;
}

.body {
  background-image: url(images/image_geometry_1.png);
  background-repeat: no-repeat;
}

.name {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 100%;
  width: 200px;
  padding: 16px;
  margin: 0;
  margin-top: 50px;
  color: #1a2236;
}

.headline {
  width: 90%;
  height: 126px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  padding: 16px;
  font-weight: 400;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.textBoton {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.blackBoton {
  margin: 16px 16px;
  width: 90%;
  height: 50px;
  background: #1a2236;
  color: #fff;
  margin-bottom: 32px;
}

.ibox {
  display: block;
  height: 160px;
  background-image: url(images/image_geometry_2.png);
}

/* projects section */

.Gallery {
  display: grid;
  flex-wrap: wrap;
  width: 100vw;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5em;
  font-weight: 400;
  line-height: 100%;
  padding: 16px;
  padding-bottom: 0;
  padding-top: 0;
  margin: 40px 0 2rem;
  background: #fff;
  background-color: transparent;
}

.Cards {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

.P-Data {
  width: 100vw;
  height: 156px;
  background: #1a2236;
  padding-left: 16px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 20px;
  line-height: 300%;
  color: #fff;
}

.PUl {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  list-style-type: none;
  padding: 0;
  padding-left: 0;
  margin-bottom: 0;
  width: 314px;
}

.Pli {
  font-size: 10.33px;
  background-color: #98dede;
  float: left;
  text-align: center;
  margin-right: 10px;
  padding: 6px;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}

.move {
  background: none;
  border: #fff solid 0.5px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 7px 10px;
}

/* about section */

.About {
  width: 90%;
  height: fit-content;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  padding: 16px;
  padding-bottom: 10px;
  margin-top: 0;
  padding-top: 0;
}

.boxL {
  padding: 16px;
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-auto-rows: 19.2rem;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
}

.Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  padding-left: 35px;
  width: 215px;
  height: 210px;
}

.languages {
  background-image: url(images/blue.png);
  background-size: contain;
  margin-top: 0;
}

.framework {
  background-image: url(images/red.png);
  background-size: contain;
  margin-top: 0;
}

.skills {
  background-image: url(images/yellow.png);
  background-size: contain;
  margin-top: 0;
}

h4 {
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}

.inBox {
  color: #fff;
  list-style-position: inside;
  justify-self: center;
}

button {
  transition-duration: 0.5s;
  cursor: pointer;
}

button:hover {
  background: #1a2236;
  border-color: black;
  border-width: 0.3rem;
}