/* stylelint-disable no-missing-end-of-source-newline */
html {
  background: #fff;
}
body {
  background: #fff;
  display: flex;
  flex-flow: row wrap;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 74px;
  background-color: #fff;
  padding: top;
}

nav {
  display: flex;
  text-align: right;
  font-size: 40px;
  justify-content: end;
  padding-right: 20px;
}

main {
  width: 100%;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  height: 300px;
}

.intro {
  background: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
}

.paragraph {
  background: none;
  font-size: 14px;
  font-family: Poppins, sans-serif;
  color: black;
}

.cButton {
  color: rgba(26, 34, 54, 1);
  text-align: center;
  align-items: center;
  width: 320px;
  height: 45px;
  top: 390px;
  padding-top: 20px;
  margin: 0 auto;
  background-color: rgba(26, 34, 54, 1);
}

.Button {
  font-size: 40px;
}

.image {
  position: absolute;
  width: 100%;
  height: 160px;
  left: 1px;
  top: 472px;
  background: #fff;
  margin: 45px auto;
}
